.benefits {}

.container {}

.benefits__content {}

.h2 {}

.benefits__title {
	@include av('margin-bottom', $g3, $g2, $maxSW, $minSW);
}

.benefits__list {}

.benefits-list {
	@include av('margin-bottom', $g3, $g2, $maxSW, $minSW);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@include av('gap', $g3, $g2, $maxSW, $minSW);

	@media (max-width: px($s2)) {
		grid-template-columns: 1fr 1fr;

		&__li:last-child {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
}

.benefits-list__li {}

.benefit {
	width: 100%;
	padding: px($g2) px($g3);
	border: 1px solid $main-secondary-light;
	border-radius: px($g2);
	text-align: center;
}

.benefit__title {
	margin-bottom: px($g2);
}

.h4 {}

.benefit__subtitle {
	color: $txt-primary-light;
}

.h5 {}

.benefits__img {
	width: 100%;
	@include av('height', $i9, $i6, $maxSW, $minSW);

	object-fit: cover;
	@include av('border-radius', $g3, $g2, $maxSW, $minSW);
}