// ------------------------------

// Text Colors
$txt-primary: #0A1F44;
$txt-primary-light: #9DA5B4;
$txt-secondary: #ffffff;
$txt-accent: #7FD7D5;

$txt-hover: #9DF5F3;
$txt-active: #61B9B7;
$txt-disabled: #afafaf;

// ------------------------------

// Main Colors
$main-primary: #ffffff;

$main-secondary: #0A1F44;
$main-secondary-light: #9DA5B4;

$main-accent: #7FD7D5;

$main-hover: #9DF5F3;
$main-active: #61B9B7;
$main-disabled: #afafaf;

// ------------------------------