// ------------------------------

// Screen widths
$minSW: 360;

$s1: 360;
$s2: 480;
$s3: 600;
$s4: 720;
$s5: 840;
$s6: 960;
$s7: 1080;
$s8: 1200;

$maxSW: 1240;

// ------------------------------

// Margins and Paddings
$g1: 6;
$g2: 10;
$g3: 20;
$g4: 30;
$g5: 40;
$g6: 60;
$g7: 80;
$g8: 120;

// ------------------------------

// Image
$i1: 10;
$i2: 20;
$i3: 40;
$i4: 80;
$i5: 140;
$i6: 180;
$i7: 220;
$i8: 300;
$i9: 400;
$i10: 500;
$i11: 600;

// ------------------------------


.classname {
	@media (max-width: px($s8)) {}
}